@{
    ViewData["Title"] = "About";
}

<br />

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Website (c) Duncan Hollowood</p>
<p>Version 0.1 - 08/05/2019</p>
<p>For any technical issues or website enquiries please send an email to <a href="mailto:brdh.hsh.pouzeux@gmail.com">Duncan Hollowood</a><br /></p>

