
@{
    ViewData["Title"] = "Accommodation";
}

<br>

<h1>Welcome to Pouzeux</h1>

<br>

<h2>The farmhouse</h2>

<br>

<img src="~/images/front house 3.jpg" style="width:80%; height:Auto;" />

<br>

<text>
    <br>

    The farmhouse is arranged on two floors, with a small cave (cellar) beneath the kitchen.
    <br>
    <br>
    <h3>The ground floor comprises:</h3>
    <br>
    <div margin-left:40px">
        A large kitchen breakfast room - with two outside doors. (6mx6m):
        <br>
        <img src="~/images/SUMMER 2019/IMG_1823.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1822.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        A large living room (6mx6m):
        <br>
        <img src="~/images/SUMMER 2019/IMG_1817.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1818.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        A cellier, fitted with fridge, dishwasher and washing machine:
        <br>
        <img src="~/images/SUMMER 2019/IMG_1825.JPEG" style="width: 40%; height: Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1826.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        A toilet with shower:
        <br>
        <img src="~/images/SUMMER 2019/IMG_1827.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        A rangement for storage or office use:
        <br>
        <img src="~/images/SUMMER 2019/IMG_1820.JPEG" style="width:40%; height:Auto;" class="img"/>
    </div>
    <br>
    <br>
    <h3>The first floor comprises:</h3>
    <br>
    <div margin-left:40px">
        3 bedrooms
        <br>
        <img src="~/images/SUMMER 2019/IMG_1849.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1851.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        <img src="~/images/bed 1 wardrobe.jpg" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        A family bathroom, with toilet, bath and separate shower:
        <br>
        <img src="~/images/SUMMER 2019/IMG_1855.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1856.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        </div>

        <br>
        <br>
        <div>
            Outside there is a large barn and some old "tumbledown" buildings.
            <br>
            Depending on the season there is also an above-ground swimming pool (5.5m diameter, 1m high).
            <br>
        </div>
</text>
@*</div>*@
