@{
    ViewData["Title"] = "Contact";
}

<br>

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<address>
    Duncan and Helen Hollowood<br />
    <abbr title="Phone">P:</abbr>
    (+44) 7966 297324
</address>

<address>
    <strong>Main:</strong> <a href="mailto:brdh.hsh.pouzeux@gmail.com">Duncan Hollowood</a><br />
</address>

<strong>Account Information:</strong>
        Bernard Hollowood
        Monzo Bank
        04-00-04 03542540
        MONZGB2L
        38 Finsbury Square London EC2A 1PX United Kingdom

IBAN    GB62MONZ04000403542540
