
@{
    ViewData["Title"] = "Welcome";
}


<br>

<text>

    <div>
        <h1>Facilities</h1>
    </div>
    <br>
    <br>

    <div>
        <h3> Keys    <br> </h3>
        This small key opens all the house doors. When locking or unlocking these doors, remember to lift the door handles.

        This large key opens the cave (cellar) and is kept on the sideboard in the kitchen.

        This set of keys open the barn doors.
    </div>
    <br>
    <div>
        <h3> Electricity  <br> </h3>

        Press the black button to turn the electricity on.
        There are 2 switches immediately to the right of the black button for hot water:
        On the left, flick “contractor chauffe eau” up to 1
        On the right, flick “dejunctor paine chauffe eau” up.
    </div>
    <br>
    <div>
        <h2> Water  <br> </h2>
        The following taps have been left turned ON and will need turning OFF before you turn the main water on:
        Kitchen sink
        Cellier sink
        Downstairs loo sink
        Upstairs loo sink
        Upstairs bath
        On the back wall of the cave x 3 (see images below).

        To turn the main water on, go into the cave (see Keys) and turn to the wall on your right. The main water tap is a red lever by a black pipe. Turn this 90 degrees anticlockwise, as in the image below.

        Keep an eye on all taps listed above to check for dripping, particularly in the first few hours of turning on.
    </div>
    <br>
    <div>
        <h2> Fire  <br> </h2>
        To open, use the wooden handle.
        To start, use a combination of firelighters and paper (next to the stove), then kindling and logs (in the lean to, next to the barn).
        To maintain, leave the doors shut and use the vent (push this right to open and left to close).
        To clean, ash can be disposed of in the compost behind the barn. (The compost section on your left is for garden waste and on the right for vegetable kitchen waste and stove ash.)
        If you need more logs, call Yann Gutier on (+33) 061 004 9421.
    </div>
    <br>
    <div>
        <h2> Fridge <br> </h2>
        Close the doors. Plug in to the socket on the wall to your right. At first the fridge will beep for a bit but it will soon settle down.
    </div>
    <br>
    <div>
        <h2> Windows and shutters <br> </h2>
        The v-luxes upstairs are all locked. There’s a key on chest of drawers in the main bedroom that will unlock the v-lux in the upstairs bathroom.
        When opening the shutters, check they’re “locked” against wall and won’t bang in wind. For the shutters above the cave, you might need to climb up on kitchen surface and/or use a stick from the outside.
    </div>
    <br>
    <div>
        <h2> Cooking <br> </h2>

        To start the gas hobs:
        On the gas canister to the left of the stove, turn the brass knob fully anticlockwise.
        Press the green button down.
        Try lighting via the hob buttons. If this doesn’t work and you can smell gas, try using a match.
        If you run out of gas, there’s another canister in the cave. Empty canisters should also go in cave.

    </div>
    <br>
    <div>
        <h2> Cleaning <br> </h2>
        Most cleaning equipment can be found either under the kitchen sink or in the rangement.
        To use the dishwasher:
        Plug into the socket under the sink in the cellier
        Press ‘Marche Arrêt’ to turn on and ‘Départ Pause’ to start
        If possible, use overnight to take advantage of cheaper electricity.
    </div>
    <br>
    <div>
        <h2> Laundry <br> </h2>
        To use the washing machine:
        Plug into the socket on the wall behind
        Once you’ve loaded your washing and detergent, turn the dial to the setting you want and press ‘Départ Pause’ to start
        If possible, use overnight to take advantage of cheaper electricity.
        To dry clothes inside, please use the airer in kitchen and be careful when securing it so that it doesn’t smash the items below.
    </div>
    <br>
    <div>
        <h2> Rubbish <br> </h2>
        Rubbish is collected for all three houses in Pouzeux on Thursday mornings. There are two bins for all the houses – one for recycling, another for general rubbish. Plastic and glass cannot be recycled and should instead be taken to to the recycling bins in Cressanges. More information on what can and can’t be recycled is on top of the recycling bin.
        Kitchen compost can be collected in the brown terracotta dish next to the kitchen sink and disposed of behind the barn. (The compost section on your left is for garden waste and on the right for vegetable kitchen waste and stove ash.)
    </div>
    <br>
    <div>
        <h2> Linen <br> </h2>
        Spare towels are kept in the trunk at the top of stairs.
        Spare sheets are kept in a black suitcase in the back bedroom.
        Spare blankets and duvets are kept in the wardrobe of the main bedroom.
    </div>
    <br>
    <div>
        <h2> Entertainment <br> </h2>
        WiFi – Username is MY WIFI 29C5 and password Brinjal903!!
        Speakers – you can play music from your phone either through the Roberts Radio speakers in the kitchen via WiFi connection, or the hifi in the living room via Bluetooth. If you have Spotify, you can find the speakers via the Spotify app where you see ‘Devices available’.
        TV – We have Sky TV and an HDMI cable so you can plug in your laptop or tablet to stream.
        Bikes – Available in the barn.
    </div>
    <br>

    Notes:
    <div>
        <b> Welcome <br> </b>
    </div>
    <div>
        <b> Arrival <br> </b>
    </div>
    <div>
        <b> Leaving <br> </b>
    </div>
    <div>
        <b> Deposit <br> </b>
    </div>
    <div>
        <b> Problems and Emergnecies <br> </b>
    </div>
    <div>
        <b> Neighbours <br> </b>
    </div>
    <div>
        <b> Markets <br> </b>
    </div>
    <div>
        <b> Cooking <br> </b>
    </div>
    <div>
        <b> Linen etc <br> </b>
    </div>
    <div>
        <b> Do's and Dont's <br> </b>
    </div>
    <div>
        <b> Costs <br> </b>
    </div>
    <div>
        <b> Inventory <br> </b>
    </div>
    <div>
        <b> The Pool <br> </b>
    </div>
    <div>
        <b> The Weather <br> </b>
    </div>
    <div>
        <b> The Barn <br> </b>
    </div>
    <div>
        <b> Food and Drink of the Auvergne <br> </b>
    </div>
    <div>
        <b> Travelling to <br> </b>
    </div>
    <div>
        <b> Directions <br> </b>
    </div>
    <div>
        <b> Map <br> </b>
    </div>
    <div>
        <b> History <br> </b>
    </div>

</text>
