@{
    ViewData["Title"] = "Garden";
}

<br>

<h1>Welcome to Pouzeux - the garden!</h1>


    <text>
        <br>
        In all, Pouzeux is enclosed within just under a hectare of land - about 2.5 acres.
        <br>
        To the rear is a large field.
        <br>
        <img src="~/images/SUMMER 2019/IMG_1841.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>

        To the side there are some tumbledown buildings, probably used in times gone by to house casual labourers in the summer months.
        <br>
        Inside can be found a BBQ area.
        <br>
        <img src="~/images/SUMMER 2019/IMG_1828.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1846.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>

        In front of the house is a large barn which comprises a workshop and tools area, a dartboard and a table-tennis table.
        <br>
        The barn has electricity and water.
        <br>
        <img src="~/images/SUMMER 2019/IMG_1830.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1867.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>
        <img src="~/images/SUMMER 2019/IMG_1859.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>

        In front of the barn is an area laid to grass - badminton or volleyball can be played here, and in summer it is something of a sun trap.
        <br>
        Plenty of lizards live in the pointing and cracks in the barn's front wall!
        <br>
        <img src="~/images/SUMMER 2019/IMG_1832.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <br>
        <br>

        To the side of this grassed area there is an above-ground swimming pool, 5.5m diameter and 1m high.
        <br>
        It has a sand filter, with overground water and elecricity supplied from the barn.
        <br>
        <img src="~/images/SUMMER 2019/IMG_1834.JPEG" style="width:40%; height:Auto;" class="img"/>
        &nbsp;
        &nbsp;
        <img src="~/images/SUMMER 2019/IMG_1835.JPEG" style="width:40%; height:Auto;" class="img"/>
        <br>
        <br>

    </text>
