@{
    ViewData["Title"] = "Garden";
}

<br>

<h1>The garden</h1>
<br>
<div style="font-size:large">
    Outside there is a large barn and old farm buildings.
    <br>
    <br>
    <br>
</div>

<text>
    <br>
    The barn
    <br>
    The old farm buildings
    <br>
    The pool
    <br>  Depending on the season there is also an above-ground splash pool (5.5m diameter, 1m high), ideal for a dip or a lounge in the hot summer months.
    <br>  
    The land
    <br>
    </div>
</text>
