@model Entities.MyImages

@{
    ViewData["Title"] = "Home Page";
}

<br />

@*<div class="item active">
        <img src="~/images/lunch table.jpg" style="width:100%; height:Auto;" />
    </div>
    <br>
    <br>*@


<div id="carouselExampleControls" class="carousel slide" style="margin:auto; height:400px; width:800px" data-ride="carousel" />


<div id="myCarousel" class="carousel slide text" style="font-size:12px" data-ride="carousel">

    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>*@

    <div class="carousel-inner" role="listbox">

        @{
            bool donefirst = false;

            foreach (var image in Model.Images)
            {
                if (!donefirst)
                {
                    <div class="carousel-item active">
                        <img src="@Url.Content(image)" style='width:100%; height:auto; max-width:100%; '>
                        @*@image*@
                    </div>
                    donefirst = true;
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@Url.Content(image)" style='width:100%; height:auto; max-width:100%; '>
                        @*@image*@
                    </div>

                }
            }
        }
        /div>

        <a class="carousel-control-prev carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      
    </div>
</div>




<text>
    <div>
        <p>We welcome you to our traditional French farmhouse set in the beautiful Auvergne countryside.</p>
        <p>We are a British couple who fell in love with France and the Auvergne countryside, and Pouzeux is a place full of happy family memories for us.</p>
        <p>We would love to share some of that with you and invite you to explore this website.</p>
        <p>If you have any enquiries or wish to book time at Pouzeux - please contact us through the website.</p>

        <br>

        Pouzeux is a fermette situated in the quiet farmland of the Allier department abour 2-3km from the villages of Cressanges and Treban.
        <br>
        The Allier (03) is located in the Auvergne region in France, and Pouzeux is about an hour north of Clermont-Ferrand by car.
        <br>
        <br>
        On this website you will find all the information you need about Pouzeux, and how to book time there.

        <br>
        <br>
        The Gite's address is
        Pouzeux, Cressanges, 03240, France

        <br>
        <br>
        Enjoy!
    </div>
</text>