@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="item active">
    <img src="~/images/lunch table.jpg" style="width:100%; height:Auto;" />
</div>
<br>
<br>

<text>
    <div>
        <p>We welcome you to our traditional French farmhouse set in the beautiful Auvergne countryside.</p>
        <p>We are a British couple who fell in love with France and the Auvergne countryside, and Pouzeux is a place full of happy family memories for us.</p>
        <p>We would love to share some of that with you and invite you to explore this website.</p>
        <p>If you have any enquiries or wish to book time at Pouzeux - please contact us through the website.</p>

        <br>

        Pouzeux is a fermette situated in the quiet farmland of the Allier department abour 2-3km from the villages of Cressanges and Treban.
        <br>
        The Allier (03) is located in the Auvergne region in France, and Pouzeux is about an hour north of Clermont-Ferrand by car.
        <br>
        <br>
        On this website you will find all the information you need about Pouzeux, and how to book time there.

        <br>
        <br>
        The Gite's address is
        Pouzeux, Cressanges, 03240, France

        <br>
        <br>
        Enjoy!
    </div>
</text>