@model Entities.RegisteredUser

@{
    ViewData["Title"] = "New User";
}

    <p>
        <div>

            
            <br>
            <br>

            <div>

                
                <br>

                <newuser>
                    New User @Model.Forename @Model.Surname has been added.

                </newuser>


                <br>
            </div>



            <div>
                <a asp-action="Index">Home</a>
            </div>
        </div>
    </p>