@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h1>The Area</h1>
<br />

<text>
    <div>
        <h2>Things to do, and about the area</h2>
    </div>
    <br />

    <div>
        <h3>     Local amenities <br> </h3>
        The nearest post office and boulangeries are in either Cressanges or Treban, both a 5 minute drive away.
        The nearest ATM, supermarket and petrol station are in Saint-Pourçain, a 20 minute drive away.
        [ ! ] Remember most places close on Wednesdays.
    </div>
    <br />
    <div>
        <h3> Eating out <br> </h3>
        To get the best value set menus, we recommend eating out on a midweek lunchtime.
        We can recommend the following restaurants:
        Auberge des Tilleuls in Souvigny
        Le Chêne Vert in Saint-Pourçain
        Quatre Saison in Saulcet
        Pizzeria Valentino in Moulins
    </div>
    <br>
    <div>
        <h3>     Things to do in the local area <br> </h3>

        Meet the locals at bar Genest Gueriaud Dominique Jeanne in Cressanges.
        Wine tasting. We can recommend Famille Laurent in Saulcet (20 minute drive) but there are many more, particularly around Saulcet.
        Brocantes (flea market). Once a month on Saturdays and Sundays in Cressanges.
        Maison Mantin, a restored 19th-century house in the centre of Moulins that does excellent guided tours. For more museums in the local area visit http://musees.allier.fr.
        Souvigny (15 minute drive) is a pretty town with a priory. Each year from late July to early August it hosts an impressive medieval festival.
        Saint-Pourçain (20 minute drive) has a market on Saturdays and a wine museum. There is a tourist information office and free parking as you come into the town (opposite the market square).
        Moulins (25 minute drive) has canoeing on the River Allier, a cathedral plus lots of shopping, bars and restaurants. Le Grand Café is worth a visit just for the décor.
    </div>
    <br>
    <div>
        <h3> Further afield <br> </h3>
        Get the train to Paris via Moulins (2h30 each way).
        Trek across the volcanoes Puy de Dôme (1h30 drive) and Puy de Sancy (2h drive).
        Ski in Le Mont-Dore (1h30), Super Besse (1h45 drive) and Le Lioran (2h30 drive).
    </div>
    <br>
</text>

<br>
And this is where we are:
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5500.276984929316!2d3.1611533966913052!3d46.426134485455584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f0dc30bf5821d9%3A0x54da681e9c8c145e!2sPouzeux%2C%2003240%20Cressanges%2C%20France!5e0!3m2!1sen!2suk!4v1588509894239!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<br>
Local Directions:
    From Moulins:
    From the A71:
<br>

<br>
Directions from the UK:
<br>
1) Bypassing Paris to the East:
<br>
2) Bypassing Paris to the West:
<br>

