.formfield label {
    padding-right: 10px;
    width: 15%; /* to maintain responsive */
    min-width: 120px; /* minimum threshold width */
    justify-content: left;
}

h1, .h1 {
    color: black !important;
}

h2, .h2 {
    color: darkred !important;
}

h3, .h3 {
    color: darkgreen !important;
}

body {
    color: black !important;
    margin-bottom: 40px; /* Margin bottom by footer height */
} 

.mynav {
    background-image: url('../img/bg-nav.jpg');
    height: 500px;
}

.navbar {
    background-color: transparent !important;
}

    .navbar .navbar-brand {
        color: darkgreen;
        font-weight: bold;
        font-size: 1.2em;
        color: green !important;
        
    }

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .nav-item a {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: green !important;
    text-decoration: underline;
}

.navbar .navbar-brand:hover  {
    text-decoration: underline;
}

.navbar .dropdown-menu {
    background-color: rgba(0,0,0,0.3);
}

.dropdown-item:hover {
    background-color: rgba(0,0,0,0.3);
}

.navbar form button {
    background-color: #ea00b1;
    color: #FFF;
    border: 0;
}

.navbar form button:hover {
    background-color: #000;
}
    
    